*,html,body
{
	margin:0px;
	padding: 0px;
	font-family: 'Droid Serif';
	font-weight:bold;
	font-style:oblique;
	/* border:1px solid red; */

}
body
{
	height:100%;
	width:100%;

}

header
{
	height: 120px;
	line-height: 120px;
	position:fixed;
	z-index:1;
	width: 100%;
}
.secondary
{
	background-color:black;
	box-shadow:0px 0px 17px 0px;
	transition: all 1.0s ease-in;

}
ul
{
	list-style: none;

}
ul li
{
	display:inline-block;
}
header nav
{
	float:right;
}
.logo img
{
	margin-top:0px;
}
header nav ul li a
{
	padding-right:30px;
	font-weight:bold;
	color:white;
	transition: all 0.5s ease-in;
}
#fb
{
	color:	#0066CC;
	text-decoration:none;
}
#fb:hover
{
	color:#2243B6;
	transition:1sec ease-in;
}
#insta
{
	color:	#E936A7;
	text-decoration:none;
}
#insta:hover
{
	color:#FF007C;
		transition:1sec ease-in;
}
#ld
{
	color:		#00CCCC;
		text-decoration:none;
}
#ld:hover	
{
	color:	#0A7E8C;
		transition:1sec ease-in;
}
header nav ul li a:hover
{
	text-decoration:none;
	color:DeepSkyblue;
}
.img1
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/hello.jpg);
	background-size: 100% 100%;
	margin-top:0px;
	margin-bottom:0px;
}
.img2
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/image2.jpg);
	background-size: 100% 100%;
	margin-top:0px;
	margin-bottom:0px;
}
.img3
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/image3.jpg);
	background-size: 100% 100%;
	margin-top:0px;
	margin-bottom:0px;
}
.slider, .slider ul, .slider ul li
{
	height:100%;
	width:100%;
	color: white;
	text-align:center;

}
.slider h2
{
	font-weight:900;
	margin-top:300px;
}
.slider span
{
	color:orange;
}
.slider a
{
	padding: 10px 30px;
	margin-right: 10px;
}

.slider .fa-gamepad
{
	text-decoration: none;
	color:#0048BA;
}
.slider .fa-gamepad:hover{
	color:	#33CC99;
}
.slider .fa-calculator
{
	text-decoration: none;
	color:	#8FD400;
}
.slider .fa-calculator:hover{
	color:	#5E8C31;
}
.slider .fa-headphones
{
	text-decoration: none;
	color:#0048BA;
}
.slider .fa-headphones:hover{
	color:	#33CC99;
}
#bt1 a.btn-half
{
	background-color:Midnightblue;
	color:white;
	transition:0.5s ease-in;
}
#bt1 a.btn-half:hover
{
	background-color:dodgerblue;
	opacity:0.7;
}
#bt1 a.btn-full
{
	background-color:orange;
	color:white;
	transition:0.5s ease-in;
}
#bt1 a.btn-full:hover
{
	background-color:coral;
	opacity:0.7;
}
#bt2 a.btn-half
{
	background-color:	#D92121;
	color:white;
	transition:0.5s ease-in;
}
#bt2 a.btn-half:hover
{
	background-color:	#FE4C40;
	opacity:0.7;
}
#bt2 a.btn-full
{
	background-color:	#87FF2A;
	color:black;
	transition:0.5s ease-in;
}
#bt2 a.btn-full:hover
{
	background-color:#5E8C31;
	color:white;
	opacity:0.7;
}
#bt3 a.btn-half
{
	background-color:	#C46210;
	color:white;
	transition:0.5s ease-in;
}
#bt3 a.btn-half:hover
{
	background-color:	#E97451;
	opacity:0.7;
}
#bt3 a.btn-full
{
	background-color:	#1560BD;
	color:white;
	transition:0.5s ease-in;
}
#bt3 a.btn-full:hover
{
	background-color:	#4F69C6;
	opacity:0.7;
}


.slider ul li .fab
{
	padding: 10px 10px;
	margin-right: 10px;
	text-decoration: none;
}





.intro-area
{
	position: relative;
	padding:100px 0px;
	text-align:center;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/nice.jpg);
	background-size:100% 100%;
}
.sub-heading
{
	position: relative;
	margin-bottom:75px;
}.container h2
{
	color: orange;
	font-weight:900;
}
.sub-heading:before
{
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3%;
	width:6%;
	height: 1px;
	background-color: blue;
	z-index:1;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-ms-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
}
.sub-heading:hover:before
{
	width: 25%;
	margin-left: -140px;
}
.sub-heading:after
{
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 1px;
	background-color:#00CCFF;
}

.sub-heading p
{
	color: white;
	display:inline-block;
	padding: 0px 0px 20px;
	position: relative;
	line-height:24px;
	letter-spacing: 0.025em;
}

.intro-block
{
	position:relative;
	background: #f7f7f7;
	margin: 50px 0px 0px;
	text-align:center;
	padding:70px 25px 40px;

}
.intro-block:hover, intro-block.active
{
	background:midnightblue;

}
.intro-block:hover
{
	transition:0.9s ease;
	-webkit-transition:0.6s ease;
	-moz-transition:0.6s ease;
	-ms-transition:0.6s ease;
	-o-transition:0.6s ease;

}
.intro-block .intro-icon
{
	position:absolute;
	top:-31px;
	left:50%;
	margin-left:-31px;

}
.intro-block .fas
{
	width:63px;
	height:63px;
	font-size:30px;
	color:white;
	line-height: 2;
	background:midnightblue;
	border-radius:50%;
	box-shadow:0px 0px 0px 10px midnightblue;

}
.intro-block:hover .f, .intro-block.active .fas
{
	background:white;
	color: midnightblue;
	box-shadow:0px 0px 0px 10px midnightblue;
}
.intro-block h3
{
	font-size: 18px;
	color: midnightblue;
	font-weight:700;
	text-transform: uppercase;
	margin-bottom: 15;
}
.intro-block p
{
	color: darkslategray;

}
.intro-block:hover h3, .intro-block:hover p
{
	color:white;
}
.feature-area
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/walls.jpg);
	background-position: center;
	background-attachment:relative;
	background-size: 100% 100%;
}
.title h2
{
	color: Orange;
}
.title a:hover
{
	text-decoration:none;
}
.feature-block p
{
	color: white;
}
.single-feature h3
{
	color: orange;
}
.single-feature
{
	position:relative;
	width:360px;
	float: left;
	padding: 10px ;
	text-align: center;
	border-right:2px solid midnightblue;
	border-bottom: 2px solid midnightblue;
	transition: 0.3s ease-in;
	-webkit-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
}
.feature-block:after
{
	content: "";
	display:table;
}
.feature-block:after
{
	clear: both;
}
.featured-icon
{
	display: inline-block;
	margin-bottom: 20px;
}
.single-feature i.fas
{
	border: 2px solid #fff;
	padding:15px;
	border-radius:50%;
	font-size:30px;
	background-color:#00a7dd;
	color:white;
	width:64px;
	height:64px;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
}
.single-feature i.fab
{
	border: 2px solid #fff;
	padding:15px;
	border-radius:50%;
	font-size:30px;
	background-color:#00a7dd;
	color:white;
	width:64px;
	height:64px;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
}
.feature-block:hover .single-feature
{
	border-color:white;
	transition:0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
}
.single-feature:hover .featured-icon .fas
{
	border:2px solid midnightblue;
	background: white;
	color: midnightblue;
}
.single-feature:hover .featured-icon .fab
{
	border:2px solid midnightblue;
	background: white;
	color: midnightblue;
}
.single-feature:nth-of-type(even)
{
	border-right:none;
}
.single-feature:nth-last-child(2)
{
	border-bottom:none;
}
.single-feature:last-child
{
	border-bottom:none;
}
.feature-area
{
	padding:100px 0;
}
.feature-mockup
{
	bottom: -30px;
	position: relative;
}
.title .sub-heading p
{
	color:white;
}
