*,html,body
{
	margin:0px;
	padding: 0px;
	font-family: 'Courier New';
	font-weight:bold;
	font-style:oblique;
	/* border:1px solid red; */

}
body
{
	height:100%;
	width:100%;

}
	
header
{
	height: 120px;
	line-height: 120px;
	position:fixed;
	z-index:1;
	width: 100%;	
}
.secondary
{
	background-color:black;
	box-shadow:0px 0px 17px 0px;
	transition: all 1.0s ease-in;
	
}
ul
{
	list-style: none;
	
}
ul li
{
	display:inline-block;
}	
header nav
{
	float:right;
}
.logo img
{
	margin-top:-2px;
}
header nav ul li a
{
	padding-right:20px;
	font-weight:bold;
	color:white;
	transition: all 0.5s ease-in;
}
header nav ul li a:hover
{
	text-decoration:none;
	color:DeepSkyblue;
}
.img1
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/hello.jpg);
	background-size: 100% 100%;
}
.slider, .slider ul, .slider ul li
{
	height:710px;
	width:100%;
	color: white;
	text-align:center;
	
}
.slider h2
{
	font-weight:900;
	margin-top:300px;
}
.slider span
{
	color:orange;
}
.slider a	
{
	padding: 10px 30px;
	margin-right: 10px;
}
.slider .fa-instagram
{
	color: #ff0080;
}
.slider .fa-facebook
{
	color: 	#0066ff;
}
.slider .fa-linkedin
{
	color: 	#1395ec;
}
.slider .fa-instagram:hover
{
	color: 	#f20d0d;
	transition: 0.5s ease-in;
}
.slider .fa-facebook:hover
{
	color: 	#002e4d;
	transition: 0.5s ease-in;
}
.slider .fa-linkedin:hover
{
	color: #002966;
	transition: 0.5s ease-in;
}

.slider a.btn-half
{
	background-color:Midnightblue;
	color:white;
	transition:0.5s ease-in;
}
.slider a.btn-half:hover
{
	background-color:dodgerblue;
	opacity:0.7;
}
.slider a.btn-full
{
	background-color:orange;
	color:white;
	transition:0.5s ease-in;
}
.slider a.btn-full:hover
{
	background-color:coral;
	opacity:0.7;
}
.img2
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/image2.jpg);
	background-size: 100% 100%;
}
.img3
{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/image3.jpg);
	background-size: 100% 100%;
}
.slider i
{
	font-size:50px;
	margin-right:10px;
}
.slider ul li .fab
{
	padding: 10px 10px;
	margin-right: 10px;
	text-decoration: none;
}





.intro-area
{
	position: relative;
	padding:100px 0px;
	text-align:center;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//image/nice.jpg);
}
.sub-heading
{
	position: relative;
	margin-bottom:75px;
}.container h2
{
	color: orange;
	font-weight:900;
}
.sub-heading:before
{
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3%;
	width:6%;
	height: 1px;
	background-color: blue;
	z-index:1;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-ms-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
}
.sub-heading:hover:before
{
	width: 25%;
	margin-left: -140px;
}
.sub-heading:after
{
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 1px;
	background-color:#00CCFF; 	
}

.sub-heading p
{
	color: white;
	display:inline-block;
	padding: 0px 0px 20px;
	position: relative;
	line-height:24px;
	letter-spacing: 0.025em;
}

.intro-block
{
	position:relative;
	background: #f7f7f7;
	margin: 50px 0px 0px;
	text-align:center;
	padding:70px 25px 40px;
	
}
.intro-block:hover, intro-block.active
{
	background:midnightblue;
	
}
.intro-block:hover
{
	transition:0.9s ease;
	-webkit-transition:0.6s ease;
	-moz-transition:0.6s ease;
	-ms-transition:0.6s ease;
	-o-transition:0.6s ease;
	
}
.intro-block .intro-icon
{
	position:absolute;
	top:-31px;
	left:50%;
	margin-left:-31px;
	
}
.intro-block .fas
{
	width:63px;
	height:63px;
	font-size:30px;
	color:white;
	line-height: 2;
	background:midnightblue;
	border-radius:50%;
	box-shadow:0px 0px 0px 10px midnightblue;
	
}
.intro-block:hover .f, .intro-block.active .fas
{
	background:white;
	color: midnightblue;
	box-shadow:0px 0px 0px 10px midnightblue;
}
.intro-block h3
{
	font-size: 18px;
	color: midnightblue;
	font-weight:700;
	text-transform: uppercase;
	margin-bottom: 15;
}
.intro-block p
{
	color: darkslategray;
	
}
.intro-block:hover h3, .intro-block:hover p
{
	color:white;
}







.feature-area
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(..//image/walls.jpg);
	background-position: center;
	background-attachment:relative;
	background-size: 100% 100%;
}
.title h2,p
{
	color: white;
}
.single-feature h3
{
	color: white;	
}
.single-feature
{
	position:relative;
	width:325px;
	float: left;
	padding: 30px 0;
	text-align: center;
	border-right:1px solid midnightblue;
	border-bottom: 1px solid midnightblue;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	
}
.feature-block:after
{
	content: "";
	display:table;
}
.feature-block:after
{
	clear: both;
}
.featured-icon
{
	display: inline-block;
	margin-bottom: 20px;
}
.single-feature i.fas
{
	border: 2px solid #fff;
	padding:15px;
	border-radius:50%;
	font-size:30px;
	background-color:#00a7dd;
	color:white;
	width:64px;
	height:64px;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
}
.feature-block:hover .single-feature
{
	border-color:white;
	transition:0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
}
.single-feature:hover .featured-icon .fas
{
	border:2px solid midnightblue;
	background: white;
	color: midnightblue;	
}
.single-feature:nth-of-type(even)  
{
	border-right:none;
}
.single-feature:nth-last-child(2)
{
	border-bottom:none;
}
.single-feature:last-child
{
	border-bottom:none;
}
.feature-area
{
	padding:100px 0;
}
.feature-mockup
{
	bottom: -30px;
	position: relative;
}
.title .sub-heading p
{
	color:white;
}
